html ,body , .main {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
.main{
    font-family: 'Ubuntu', sans-serif;
}

#website-logo img{
    height: 60px;
    width: 60px;
}

#website-logo {
    margin-left: 1%;
}

.social-media-logo{
    height: 20px;
    width: 22px;
}

#header {
    z-index: 1;
    height: 10%;
    background-color: rosybrown;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer{
    /* z-index: 1; */
    height: 10%;
    background-color: rosybrown;
    width: 100%;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login a{
    text-decoration: none;
    color: black;
}

.login{
    margin-right: 2%;
}

 .contactText a{
    text-decoration: none;
    color: black;
}
.contactText{
    margin-left: 2%;
}

.social-media{
    margin-right: 2%;
}

.copyright{
    font-size: 10px;
} 