html ,body , .main{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

#website-logo{
    height: 60px;
    width: 60px;
}

.social-media-logo{
    height: 20px;
    width: 22px;
}

#header , #footer{
    background-color: rosybrown;
}