.hotel{
    max-height: 350px;
    margin: 2% 4% 0% 4%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#descriptionDiv {
    margin: 1% 4% 2% 4%;
}

input{
    width: 150%;
    display: inline-flex;
}

.continar{
    display: grid;
    margin: 2%;
    border: 1px solid black;
    display: inline-flex;
    width: 95%;
}

table{
    margin: 2%;
    margin-left: 1%;
}

/* #form{
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

#form button{
    background-color: green;
    position: absolute;
}  */

.overallTable {
    border: 1px solid black;
    max-height: 400px;
}

.font{
    font-family: cursive;
    font-weight: bold;
}