.hotel{
    max-height: 300px;
    max-width: 500px;
    margin-top: 5%;
}

#descriptionDiv {
    margin: 0% 2% 2% 2%;
}

.area{
    width: 120%;
    display: inline-flex;
}

.position{
    margin-left: 5%;
}

.need{
    padding-top: 10%
}

.font{
    font-family: cursive;
    font-weight: bold;
}

.hotelImage {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    border: 1px solid black;
}

.overallTable {
    border-left: 1px solid black;
}

.action{
    display: flex;
    justify-content: space-around;
}

.bookBotton{
    display: flex; 
    justify-content: center;
}