.city{
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}

#search{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchCity{
    position: relative;
    top: 190px;
    left: 500px;
    border: 1px solid white;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 370px; 
}

/* #searchCity{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 1px solid white ;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 370px; 
} */


#city-list {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}

.viewmore {
    text-align: center;
}

.viewmore a{
    text-decoration: none;
    color: black;
}