.hotel{
    height: 200px;
    width: 250px;
}

.hotelDivEach{
    margin: 2% 4%;
    background-color: lightgrey ;
    width: 40%;
    /* display: flex; */
    display: inline-flex;
}

.eachHotel{
    margin-right: 2%;
}

#list-view{
    display: flex;
    flex-wrap: wrap;
}

.hotelDivEach a{
    text-decoration: none;
    color: black;
}

#listBar ul{
    text-align: center;
}

#listBar li{
    display: inline-block;
    font-weight: bold;
    padding-right: 50px;
}

#listBar a{ 
    text-decoration: none;
    color: black;
} 

#map-view{
    display: none;
}