.hotel{
    height: 200px;
    width: 250px;
}

.hotelDivEach{
    margin: 2% 4%;
    background-color: lightgrey ;
    width: 40%;
    display: inline-flex;
}

.eachHotel{
    margin-right: 2%;
}

.data{
    text-decoration: none;
    color: black;
}

/* .hotelDivEach a{
    text-decoration: none;
    color: black;
} */

.hotelDivEach:hover{
    background-color: rosybrown;
}

#listBar{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

#listBar a{ 
    color: black;
} 

#list-view{
    padding-left: 2%;
}

@media only screen and (max-width :576px){
    .hotelDivEach{
        margin: 2% 4%;
        background-color: lightgrey ;
        width: 71%;
        display: flex;
        flex-direction: column;
    }
}