.loader {
    height: 70px;
    width: 70px;
    margin: 250px auto ;
    border-radius: 50%;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #444444;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }